#box {
  background-color: red;
  width: 60%;
  margin-top: 40px;
  padding: 10px;
}

#box2 {

  width: 60%;
}

#new-proverb {
  background-color: blue
}

#gap {
  visibility: hidden;
}

#twitter {
  background-color: yellow;
}

#twitter-button {
  padding: 10px;
}

.fa-twitter {
  color: blue;
}
